*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
}



.ul{
    margin-top: 33px;
}

.nav{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    z-index: 100;
}

.img{
    width: 350px;
    margin-left: 40px;
}

#title{
    font-size: 25px;
    margin-top: 20px;
    margin-right: 40px;
    color: black;
}

#title:hover{
    color: white;
    background-color:#565656;
}

.menu{
    list-style: none;
    float:left;
    margin-right: 40px;
}

.menu li{
    position:relative;
    float:left;
}

.menu li a{ 
    color: #333;
    text-decoration:none; 
    padding:5px 10px; 
    display:block;
}

.menu li a:hover{
    background:#565656;
    color:#fff;
    border-radius: 5%;
}

.menu li  ul{
    position:absolute;
    top:25px;
    left:0;
    background-color: rgba(200, 200, 200, 0.319);
    border-radius: 5%;
    display:none;
}

.menu li:hover ul, .menu li.over ul{
    display: block;
}

.menu li ul li{
    display:block;
    width:150px;
}

.option{
    text-align: center;
}
.divTexto{
    margin-top: 100px;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(32, 0, 214);
    color: white;
    margin-top: 100%;
}